.communication {
    display: flex;
    margin-left: auto;

}

.communication__contact {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    display: flex;

    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
    color: #757575;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.communication__item {
    display: flex;
    margin-left: 50px;
    align-items: center;
    justify-content: center;


}

.communication__item:first-child {
    margin-left: 0;
}



.communication__contact:hover,
.communication__contact:focus {
    color: var(--hover-color);
    font-weight: 500;

    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor: pointer;

}

.communication__icon--envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor
}

.communication__icon--smart {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor
}

.communication__icon:hover,
.communication__icon:focus {
    fill: #2196F3
}