.section-third {
    background-color: var(--third-section-color);
}
.team-list {
    display: flex;
}

.team-list__item {
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.team-list__item:first-child {
    margin-left: 0;
}

.team-data {
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: var(--white-color);
    border-radius: 4px;

}

.team-data__name {
    color: var(--secondly-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.team-data__text {

    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    margin-bottom: 16px;

}